.navigation
	#clickme_javascript
		%a{:href => "#"} Click javascript slide
	#reset_layout
		= link_to('reset layout', '/magazine/reset_layout')
	#clickme_css
		%a{:href => "#"} Click css slide
	#counter 0
	#total 0
	#slider.slider_container
	
.slider_container

.container_12
	%h1 Frontpage
	- i = 0
	- for row in 1..3 do
		.img_height_1.image_frame
			- for column in 1..3 do
				- post = @posts[i]
				- img_width = post.article.image_width
				- img_height = post.article.image_height
				- width = 4
				- height = 1
				- ratio = Rational(width * 80, img_width)
				- new_img_height = (Rational(width * 80, img_width) * img_height).to_i
				- new_img_width = (Rational(height * 250, img_height) * img_width).to_i
				- if ((width * 80) * img_height) >= ((height * 250) * img_width)
					- orientation = 'landscape'
				- else
					- orientation = 'portrait'
				%div{:class => "img_4 img_#{orientation}"}
					%h2.frontpage_title= post.article.title
					/ DEBUG %p= "#{orientation}, column_width: #{width * 80}, image_width: #{img_width}, row_height: #{height * 250}, image_height: #{img_height},  widthratio: #{(width * 80 / img_width)}, heightratio: #{(height * 250 / img_height )} new_img_width #{new_img_width}"
					- if orientation == 'landscape'
						= image_tag(post.article.image_data, :style => "margin-top: #{(height * 250 - new_img_height) / 2}px")
						/ = image_tag(post.article.image_data)

					- else 
						= image_tag(post.article.image_data, :style => "margin-left: #{(width * 80 - new_img_width) / 2}px")
						/ = image_tag(post.article.image_data)
			
				- i += 1
				- if i == @posts.length then i = 0
	.clear
