#nav
	%ul#years
		- @years.each do |year|
			%li.year
				= link_to root_path do
					= image_tag('nav_arrow_year_right.png')
					= year[:year]
					
				%ul#months
					- year[:months].each do |month|
						- if month[:active] == true
							- if month[:current] == true
								%li.month.active.current
									= link_to	magazine_path(:year => year[:year], :month => month[:month]) do
										= image_tag('nav_arrow_left.png', :class => 'nav_arrow_left')
										= image_tag('nav_arrow_right.png', :class => 'nav_arrow_right')
										%p= Date::ABBR_MONTHNAMES[month[:month]]
							- else
								%li.month.active
									= link_to	magazine_path(:year => year[:year], :month => month[:month]) do
										= image_tag('nav_arrow_left.png', :class => 'nav_arrow_left')
										= image_tag('nav_arrow_right.png', :class => 'nav_arrow_right')
										%p= Date::ABBR_MONTHNAMES[month[:month]]

						- elsif month[:active] == false
							%li.month.nav_false
								= image_tag('nav_arrow_false_left.png', :class => 'nav_arrow_left')
								= image_tag('nav_arrow_false_right.png', :class => 'nav_arrow_right')
								%p= Date::ABBR_MONTHNAMES[month[:month]]

						




#slider_area
	
	%br
	%ul#page_nav
		- @pages.each_index do |i|
			%li
				%a{:href => "#page_#{i}", :class => i}= i + 1			

	#arrows
		#arrows_positioner
			#previous_arrow
			-if @previous_date.presence
				#previous_date
					= link_to	magazine_path(:year => @previous_date[:year], :month => @previous_date[:month], :anchor => 'last') do
						%p.year= @previous_date[:year]
						%p.month= Date::ABBR_MONTHNAMES[@previous_date[:month]]

			#next_arrow			
			-if @next_date.presence
				#next_date
					= link_to	magazine_path(:year => @next_date[:year], :month => @next_date[:month], :anchor => 'first') do
						%p.year= @next_date[:year]
						%p.month= Date::ABBR_MONTHNAMES[@next_date[:month]]
				
	#slider_container.clearfix
		= render @pages