#nav
	%ul#years
		- @years.each do |year|
			%li
				= link_to root_path do
					= image_tag('nav_arrow_year.jpg')
					= year[:year]
					
				%ul#months
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow_v2.png', :id => 'nav_last_img')
							December
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							November
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Oktober
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							September
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Augustus
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Juli
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Juni
					- year[:months].each do |month|
						%li
							= link_to  magazine_path(:year => year[:year], :month => month) do
								= image_tag('nav_arrow.jpg')
								= Date::MONTHNAMES[month]
							
					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Februari

					%li 		
						= link_to root_path do
							= image_tag('nav_arrow.jpg')
							Januari
						




#slider_area
				
	#arrows
		#arrows_positioner
			= image_tag('previous_arrow_gray.png', :id => 'previous_arrow')
			= image_tag('next_arrow_gray.png', :id => 'next_arrow')
	#slider_container.clearfix
		= render @pages
		

	
	
		

			
	%ul#page_nav
		- @pages.each_index do |i|
			%li
				%a{:href => "#page_#{i}"}= i + 1	

/ #footer
/ 	%ul#statuses
/ 		- @statuses.each do |post|
/ 			%li
/ 	
/ 				- if post.service == 'facebook'
/ 					= image_tag post.linked_account.image
/ 				- else 
/ 					= image_tag post.linked_account.image
/ 				- if @statuses.first == post
/ 					.status_message 
/ 						%p= post.status.text
/ 						= image_tag 'balloon start.png'