!!!
%html
	%head
		%title Dplusm Deelt
		= stylesheet_link_tag 'style', '/javascripts/fancybox/jquery.fancybox-1.3.4.css'

		= javascript_include_tag 'jquery.min'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack'		
		= javascript_include_tag 'script'
		
		= csrf_meta_tag

	%body
		- if @found_page.present?
			:javascript
				var found_page = "#{@found_page}"
		- else
			:javascript
				var found_page = false

		#header
			%a{:href => "http://reclamebureaudplusm.nl", :title => "DplusM Website"}
				= image_tag 'dplusm_logo.jpg'
			#brandbox
				%h1 DplusM Deelt
				%br
				%p 
					DplusM Deelt is het online sociale portaal van Reclamebureau DplusM. Op DplusM Deelt worden posts, tweets en blogs gedeeld van de Facebook, Twitter en Tumblr van DplusM.
			#share{:title => "Share"}
				#share_links
					%a{:href => "http://www.linkedin.com/shareArticle?mini=true&url=http://www.dplusmdeelt.nl/", :target => "_blank", :title => "Deel op LinkedIn"}
						= image_tag('social_media_logos/linkedin_64.png')
					%a{:href => "http://www.facebook.com/share.php?u=http://www.dplusmdeelt.nl/", :target => "_blank", :title => "Deel op Facebook"}
						= image_tag('social_media_logos/facebook_64.png')
					%a{:href => "http://twitter.com/share?url=http://www.dplusmdeelt.nl/", :target => "_blank", :title => "Deel op Twitter"}
						= image_tag('social_media_logos/twitter_64.png')

		.clearfix
		
		= yield
		
		#footer_container
			#footer.clearfix
				%a#portrait_footer{:href => "http://reclamebureaudplusm.nl", :title => "DplusM Website"}
					= image_tag 'dplusm_logo.jpg'
				#contact
					%ul
						%li
							%a{:href => "http://dplusm.nl"} Reclamebureau DplusM
						%li Dorpsstraat 18, 5441 AC Oeffelt | Postbus 330, 5430 AH Cuijk
						%li Klokgebouw 151, 5617 AB Eindhoven
						%li KvK 17260763
					%ul
						%li
							%br
						%li T (0485) 31 52 85
						%li F (0485) 31 88 66
